.nav-bar {
  display: flex;
}
.nav-btn {
  margin-left: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.header {
  height: 25%;
  background: black;
  color: white;
  text-align: center;
  font-size: large;
}

.container {
  padding: 2px 16px;
  text-align: center;
}

.pages {
}

.read {
}
